jt-alwm-team.duckdns.org {
	# Rediriger toutes les requêtes API vers le Backend Node.js
	handle /api/* {
		reverse_proxy backend:3010
	}

	# Servir directement les fichiers statiques (Uploads) sans passer par Node.js
	handle_path /uploads/* {
		root * /app/uploads
		file_server
	}

	# Rediriger les WebSockets Socket.io vers le Backend Node.js
	handle /socket.io/* {
		reverse_proxy backend:3010
	}

	# Rediriger tout le reste vers le Frontend (Nginx/React)
	handle {
		reverse_proxy frontend:80
	}
}
