jt-alwm-team.duckdns.org {
	# Rediriger toutes les requêtes API et Uploads vers le Backend Node.js
	handle /api/* {
		reverse_proxy backend:3010
	}
	handle /uploads/* {
		reverse_proxy backend:3010
	}

	# Rediriger les WebSockets Socket.io vers le Backend Node.js
	handle /socket.io/* {
		reverse_proxy backend:3010
	}

	# Rediriger tout le reste vers le Frontend (Nginx/React)
	handle {
		reverse_proxy frontend:80
	}
}
